{% extends 'bootstrap/base.html' %}

{% block title %}Confirm Deletion{% endblock %}

{% block styles %}

{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <hr class="my-4">
  <p style="color: #000">Are You Sure You Want To Delete : {{ movie.title }}</p>
    <form action="" method="POST" href="{{ url_for('delete',id=movie.id) }}">
        <button class="btn btn-warning btn-lg left" type="submit">Yes!</button>
        <a class="btn btn-warning btn-lg right" href="{{ url_for('home') }}" role="button">NO</a>
    </form>

</div>
    </div>

{% endblock %}
