{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

  <!-- Page Header -->
  <header class="masthead" >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Log In</h1>
            <span class="subheading">Welcome Back!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<div class="jumbotron text-center">
    <div class="container">
  <hr class="my-4">
  <p style="color: #000">Are You Sure You Want To Delete : {{ movie.title }}</p>
    <form action="" method="POST" href="{{ url_for('delete',id=movie.id) }}">
        <button class="btn btn-warning btn-lg left" type="submit">Yes!</button>
        <a class="btn btn-warning btn-lg right" href="{{ url_for('home') }}" role="button">NO</a>
    </form>

</div>
    </div>

{% endblock %}
