{% extends 'bootstrap/base.html' %}


{% block styles %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Top Movies{% endblock %}
{% block content %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container-fluid">
    {% if current_user.is_authenticated %}
    <a class="navbar-brand" href="{{url_for('view_profile')}}">
    <img src="https://ui-avatars.com//api/?background=%23285894&color=fff&rounded=True&size=200&name={{ current_user.username }}" alt="Avatar" height="36">
    </a>
    {% else %}
  <a class="navbar-brand" href="https://motrap2002.pythonanywhere.com/">
      <img src="{{ session.pic}}" alt="..." height="36">
    </a>
  {% endif %}
  <h1 class="heading">My Top Movies & Shows</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
      {% if session['lang'] == 'en' %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
        </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Discover
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('rest',site="disc",discover_type="movie") }}">Movies</a></li>
            <li><a class="dropdown-item" href="{{ url_for('rest',site="disc",discover_type="tv") }}">TV</a></li>
          </ul>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('rest',site="trend",discover_type="1") }}">Trending</a>
        </li>
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                English
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('change_language',language="ar") }}">عربى</a></li>
            <li><a class="dropdown-item" href="{{ url_for('change_language',language="en") }}">EN</a></li>
          </ul>
        </li>
             {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
            </li>
        {% else: %}
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Login
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('login') }}">Login</a></li>
            <li><a class="dropdown-item" href="{{ url_for('register') }}">Register</a></li>
          </ul>
        </li>
        {% endif %}
      {% else %}
              <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">الرئيسية</a>
        </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            تصفح
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('rest',site="disc",discover_type="movie") }}">افلام</a></li>
            <li><a class="dropdown-item" href="{{ url_for('rest',site="disc",discover_type="tv") }}">مسلسلات</a></li>
          </ul>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('rest',site="trend",discover_type="1") }}">الترند</a>
        </li>
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                عربى
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('change_language',language="ar") }}">عربى</a></li>
            <li><a class="dropdown-item" href="{{ url_for('change_language',language="en") }}">EN</a></li>
          </ul>
        </li>
   {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">تسجيل الخروج</a>
            </li>
        {% else: %}
                 <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                تسجيل الدخول
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('login') }}">تسجيل الدخول</a></li>
            <li><a class="dropdown-item" href="{{ url_for('register') }}">إنشاء حساب</a></li>
          </ul>
        </li>
        {% endif %}
            {% endif %}


      </ul>
    </div>
  </div>
</nav>
{% endblock %}