{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

  <!-- Page Header -->
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Register</h1>
          <span class="subheading">Create an Account</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
          <div class="card border-0 register-card" >
                                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="container">
                    <strong class="text-danger">{{ messages[0] }}</strong>
                    </div>
                {% endif %}
              {% endwith %}
        <div class="card-body">
          {{ wtf.quick_form(form, button_map={"submit": "primary"}) }}

        </div>
      </div>
    </div>
  </div>
</div>
s


{% endblock %}
{% include "footer.html" %}
