{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
<div class="container-fluid" style="text-align: center;margin-top: 1%">
    <h2 class="heading">Search result:</h2>
        </div>
      <div class="container-fluid">
        <section id="features">
        <div class="container-fluid">
          <div class="row mid">
          {% for movie in data %}
              <div class="col-lg-2 col-md-6 col-sm-6  middle">
  <div class="card" >
    <div class="front" style="background-image: url('{{ movie.poster_path }}');">
    </div>
    <div class="back">
     <div>
      <div class="title">{{ movie.name }} <span class="release_date">({{ movie.year }})</span>
      </div>
        <div class="rating">
            <label>{{ movie.vote_average }}</label>
          <i class="fas fa-star star"></i>
        </div>
        <p class="overview">
            {{movie.overview}}        </p>

        <a href="{{ url_for('select',movie_id=movie.media_id,title=movie.name,media_type=movie.media_type,year=movie.year,rating=movie.vote_average,description=movie.overview,img_url=movie.poster_path) }}" class="button ">Add</a>
        <a href="{{movie.site_url}}" class="button right "> More Info</a>

      </div>

      </div>
    </div>
        </div>

          {% endfor %}
          </div>
        </div>
        </section>


</div>

{% endblock %}