{% include "header.html"  %}

{% block content %}
    <div class="container-fluid">
    <section id="features">
    <div class="container-fluid">
      <div class="row mid">
      {% for movie in movies %}
        <div class="col-lg-2 col-md-6 col-sm-6  middle">
  <div class="card" >
    <div class="front" style="background-image: url('{{ movie.img_url }}');">
        <p class="large">{{ movie.ranking }}</p>
    </div>
    <div class="back">
     <div>
      <div class="title">{{ movie.title }} <span class="release_date">({{ movie.year }})</span>
      </div>
        <div class="rating">
            <label>{{ movie.rating }}</label>
          <i class="fas fa-star star"></i>
        </div>
        <p class="overview">
            {{movie.description}}        </p>

             {% if session['lang'] == 'en' %}
                 {% if current_user.is_authenticated %}
                     <a href="{{ url_for('select',movie_id=movie.media_id,title=movie.title,media_type=movie.media_type,year=movie.year,rating=movie.rating,description=movie.description,img_url=movie.img_url) }}" class="btn btn-primary ">Add</a>
                 {% endif %}
             <a href="{{movie.site_url}}" class="btn btn-danger "> Info</a>
             {% else %}
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('select',movie_id=movie.media_id,title=movie.title,media_type=movie.media_type,year=movie.year,rating=movie.rating,description=movie.description,img_url=movie.img_url) }}" class="btn btn-primary ">أضف</a>
             {% endif %}
            <a href="{{movie.site_url}}" class="btn btn-danger "> تفاصيل</a>
             {% endif %}
      </div>

      </div>
    </div>
        </div>
             {% endfor %}

      </div>
    </div>
  </section>



  </div>
<div class="container text-center add">
{% if session["lang"]==en %}
    <a href="{{ url_for('trending',page = page_number) }}" class="button">Load More</a>
{% else %}
    <a href="{{ url_for('trending',page = page_number) }}" class="button">المزيد</a>
{% endif %}

</div>
{% endblock %}
{% include "footer.html" %}